In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## Default DataFrames

In [2]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [3]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
# the above is the custom dataframen with out any columns and indexes

In [5]:
df1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C'],index=['x','y','z'])

In [6]:
df1

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [7]:
# basic properties

In [8]:
df1.shape

(3, 3)

In [9]:
df1.ndim

2

In [11]:
df1.size

9

In [12]:
# to print the top 5 elements

In [13]:
df1.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [14]:
df1.head(1)

   A  B  C
x  1  2  3

In [15]:
df1.tail()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [16]:
df1.tail(1)

   A  B  C
z  7  8  9

In [17]:
# to retrive the columns of the dataframe

In [18]:
df1.columns

Index(['A', 'B', 'C'], dtype='object')

In [19]:
# convert to the list
list(df1.columns)

['A', 'B', 'C']

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [21]:
df1.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [23]:
# to print all the unique elements in an data froma

df1.nunique()
# nunique gives us the number if n=unique elements in an elements

A    3
B    3
C    3
dtype: int64

In [24]:
df1.A.unique()

array([1, 4, 7])

In [25]:
df1.B.unique()

array([2, 5, 8])

In [28]:
for i in list(df.columns):
    print(i)

KeyError: 0